[submodule "medspasync-backend"]
	path = medspasync-backend
	url = https://github.com/MythosMediaCo/medspasync-backend.git
	branch = main

[submodule "medspasync-frontend"]
	path = frontend-app
	url = https://github.com/MythosMediaCo/medspasync-frontend.git
	branch = main

[submodule "medspasync-ai-api"]
	path = python-ai
	url = https://github.com/MythosMediaCo/medspasync-ai-api.git
	branch = main 